.navbar {
    display: flex;
    background: #F99D47;
    justify-content: space-between;
    align-items: center;
    font-family: Lato, sans-serif;
}

.navbar > div {
    display: flex;
    align-items: center;
    gap: 75px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar > div > a {
    color: white;
    font-weight: 500;
}

.navbar p {
    font-size: 1.2rem;
}

.navbar-profile a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    height: 100%;
}

.navbar-profile a:hover{
    text-decoration: underline;
}

.navbar-profile img {
    height: 55px;
    width: 55px;
    border-radius: 8px;
    object-fit: cover;
}

#main-logo {
    height: 40px
}

.main-wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex: 1;
}

.main-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.navbar {
    height: 60px;
    display: flex;
    gap: 12px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 25px;
}

.navbar-wrap {
    width: 100%;
    background: #F99D47;
}


.sidebar {
    background: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    height: 100%;
    max-height: 500px;
    font-family: Lato, sans-serif;
}

.rightbar {
    background: white;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
    align-items: center;
    justify-content: space-around;
}

.ad {
    height: 350px;
    width: 175px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}


.main-sidebar,
.main-rightbar {
    background: white;
}

.sidebar ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.sidebar li {
    display: flex;
    align-items: center;
    width: 100%;
}

.text-divider {
    color: #464646;
}

.sidebar li div {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.sidebar li div a {
    width: 100px;
    text-decoration: none;
    color: #464646;
}
.sidebar li div a:hover {
    text-decoration: underline;
}

.sidebar ul img {
    height: 25px;
}

.loading-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 5px solid black;
    border-top: 6px solid white;
    margin: auto;
    visibility: visible;
    border-radius: 100%;
    animation: cycle 1s infinite linear;
}

@keyframes cycle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.sidebar-profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar-profile a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.sidebar-profile img {
    border-radius: 8px;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.main-top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    font-size: 1.5rem;
}

.posts-container {
    padding: 12px 25px;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post,
.new-post {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 15px 25px;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.new-post > p {
    font-size: 1.4rem;
}

.new-post > textarea {
    font-family: Lato, sans-serif;
    padding: 8px;
    resize: none;
    border: #ABABAB solid 1px;
    border-radius: 8px;
}



.post-top {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.post-top .profile-picture {
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.post-stats {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.post-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.post-buttons button,
.new-post button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Lato, sans-serif;
    color: white;
    background: #F99D47;
    border: none;
    border-radius: 8px;
}

.new-post button {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 10px 50px;
}


.post-buttons button:hover,
.new-post button:hover,
.preferences button:hover {
    cursor: pointer;
    background: #cf7724;
    
}

.post-name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.post-time {
    font-size: 0.8rem;
}

.post img {
    border-radius: 8px;
}

.post-body {
    font-size: 1.4rem;
}

.picture-update {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.picture-update img {
    border-radius: 8px;
}

.picture-update a {
    color: black;
    font-size: 0.8rem;
}

.preferences form {
    padding: 25px 50px;
    min-width: 250px;
}

.preferences form label {
    margin: 0;
}

.preferences form button {
    background: #F99D47;
    color: white;
}

.preferences-delete button {
    background: #FF7878 !important;
    color: white; 
}

.preferences-delete button:hover {
    cursor: pointer;
    background: #ac5353 !important;
}

.delete-modal {
    background: #FF7878;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    justify-content: space-between;
    height: 20px;
    align-self: flex-start;
}

.delete-modal > form {
    flex-direction: row;
    background: none;
    box-shadow: none;
}

.delete-modal > form > button {
    font-size: 1rem;
    padding: 0 12px;
    cursor: pointer;
}

.trash-icon {
    display: flex;
    justify-content: right;
    height: 20px;
    margin-left: auto;
    margin-bottom: auto;
}
